{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Order Details (Order #{{ order.id }})</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Restaurant Information</h5>
            <p>Name: {{ order.restaurant.name }}</p>
            </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Order Details</h5>
            <p>Placed At: {{ order.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
            <p>Total Price: ${{ order.total_price | round(2) }}</p>
            <p>Service Option: {{ order.service_option }}</p>
            <p>Status: {{ order.status }}</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Items Ordered</h5>
            <ul>
                {% for order_item in order_items %}
                    <li>{{ order_item.menu_item.name }} x {{ order_item.quantity }}
                        (${{ order_item.menu_item.price * order_item.quantity }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if order.status == 'Complete' and not order.reviews %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Rate Your Experience</h5>
                <form method="POST" action="{{ url_for('views.submit_feedback', order_id=order.id) }}">
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <div class="rating">
                            {% for i in range(5) %}
                                <input type="radio" id="star{{ i + 1 }}" name="rating" value="{{ i + 1 }}" {% if i == 3 %}checked{% endif %}/>
                                <label for="star{{ i + 1 }}" title="text">{{ i + 1 }} stars</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comments (Optional):</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Feedback</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
