{% extends 'base.html' %}

{% block content %}
    <h2>Rate Your Order</h2>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{{ url_for('views.submit_feedback', order_id=order.id) }}">

                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <div class="rating">
                        {% for i in range(5) %}
                            <input type="radio" id="star{{ i + 1 }}" name="rating" value="{{ i + 1 }}" {% if i == 3 %}checked{% endif %}/> <label for="star{{ i + 1 }}" title="text">{{ i + 1 }} stars</label>
                        {% endfor %}
                    </div>
                </div>
                

                <div class="form-group">
                    <label for="comment">Comments (Optional):</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit Feedback</button>
            </form>
        </div>
    </div>
{% endblock %}
